@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
//Variables
$color1: #9c44dc;
$color2: #bc8ae1;
$color3: #442c61;
$color4: #9c645c;
$color5: #d0b7b0;
$color6: #543b6c;
$color8: #151515;
$color9: #F1F3F4;
$color10: #FFFFFF;
$color11: #555555;
$color12: #000000;
$color13: #c00b0b;
$color14: #cdcdcd94;
$color15: #f1bdbd;

//fonts
$font-text: "Poppins", sans-serif;

