@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
//Variables
$color1: #f5f5f5;
$color2: #151515;
$color3: #D9E7F4; //bg
$color4:#96BAF4;
$color5:#E25788;
$color6: #555555;
$danger: #CA0B00;





//fonts
$font-text: "Poppins", sans-serif;

