<header class="header">
  <nav class="header__navbar">
    <div class="header__navbar-logo">
      <img src="assets/images/logo.png" alt="gatito logo" class="image" />
      <h2 class="logo">Gatitobook</h2>
    </div>
    <!-- mobile button -->
    <button class="mobile-button"><i class="fa fa-align-justify" (click)="mobile()"></i></button>

    <div *ngIf="user$ | async as user" class="header__navbar-userbar">
      <div *ngIf="user.name;else login" class="session">
        <a href="feed/newPost" class="session__option session__option-btn">Adicionar <i class="fa fa-camera"></i></a>
        <a class="session__option"><i class="fa fa-user-circle session__icon"></i> {{user.name}}</a>
        <a (click)="logout()" class="session__option session__option-btn"><i class="fa fa-sign-out"></i></a>
      </div>
    </div>
  </nav>
  <ng-template #login class="session">
    <span>
      <a [routerLink]="['']"  class="session__option">Login</a>
    </span>
  </ng-template>
</header>

      <!-- mobile -->
<div class="{{!mobileState ? 'mobile' : 'mobile-actived'}}">
  <div *ngIf="user$ | async as user" class="mobile__userbar">
    <div *ngIf="user.name;else login" class="session">
      <span><i class="fa fa-user-circle icon"></i> <a class="user">{{user.name}}</a></span>
      <span class="btn"><a href="feed/newPost">Carregar <i class="fa fa-camera"></i></a></span>
      <span class="btn"><a (click)="logout()" class="option">Logout <i class="fa fa-sign-out"></i></a></span>
    </div>
  </div>

  <ng-template #login class="session">
    <span>
      <a [routerLink]="['']"  class="option">Login</a>
    </span>
  </ng-template>
</div>
