<section class="container">
  <p *ngIf="!items.length" class="message">
    Desculpe, não há animais...
  </p>
  <div class="content">
    <div *ngFor="let item of items">
    <a [routerLink]="['/feed', item.id]">
      <app-card class="content.card">
        <app-card-image
          [url]="item.url"
          [desc]="item.description"
          >
        </app-card-image>
       <div class="card__details">
        <span><img src="../../../assets/icons/love.png" alt="like icon" class="icon" >{{item.likes}}</span>
        <span><img src="../../../assets/icons/comment.png" alt="like icon" class="icon" >{{item.comments}}</span>
       </div>
      </app-card>
    </a>
    </div>
  </div>
</section>
