<section class="container">
  <h4 class="title">Login</h4>
  <form class="form" (ngSubmit)="login()">
    <div class="form__field">
      <label for="user" class="form__field-label">Usuário</label>
      <input
        type="text"
        id="user"
        class="form__field-input"
        [(ngModel)]="credential.userName"
        name="user"
         />
    </div>
    <div class="form__field">
      <label for="password" class="form__field-label">Senha</label>
      <input type="password"
        id="password"
        class="form__field-input"
        [(ngModel)]="credential.password"
        name="password"
         />
    </div>
    <div class="form__buttonWrapper">
      <button type="submit" class="form__buttonWrapper-button">
        Entrar
      </button>
    </div>
  </form>
</section>
