<app-header></app-header>
<section class="container">
  <div *ngIf="item$ | async as item" class="content">
    <div class="content__card">
      <!-- fazer um flex row -->
      <div class="content__card-image">
        <!-- 2 terços pra foto -->
        <app-card-image
          [url]="item.url"
          [desc]="item.description">
        </app-card-image>
      </div>
      <div class="content__card-desc">
        <!-- colocar a descrição -->
        <small>
          <p>
            {{item.description}}
          </p>
        </small>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
