<app-header></app-header>
<section class="container">
  <div *ngIf="item$ | async as item" class="container__content">
    <div class="card">
      <div class="card__image">
        <app-card-image
          [url]="item.url"
          [desc]="item.description">
        </app-card-image>
      </div>
      <div class="card__desc">
        <small>
          <p class="card__desc-text" *ngIf="item.description !== ''">
            {{item.description}}
          </p>
          <div class="card__desc-options">
            <span><img src="../../../assets/icons/love.png" alt="like icon" class="icon"  (click)="like()">{{item.likes}}</span>
            <span><img src="../../../assets/icons/comment.png" alt="like icon" class="icon" >{{item.comments}}</span>
            <span><img src="../../../assets/icons/delete.png" alt="like icon" class="icon" (click)="delete()"></span>
          </div>
        </small>
        <app-comments [id]="item.id" *ngIf="item.allowComments; else warning"></app-comments>
        <ng-template #warning>
          <p class="card__desc-disableComments">Comentários desativados</p>
        </ng-template>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
