<section class="container">
  <h4 class="title">Registre-se e mostre seu pet ao mundo</h4>
<form class="form" [formGroup]="newUserForm" (submit)="NewAccount()">
  <div class="form__field">
    <input
      placeholder="e-mail"
      type="text"
      class="form__field-input"
      formControlName="email"
      />
  </div>
  <div class="form__field">
    <input
     placeholder="Nome Completo"
     type="text"
     class="form__field-input"
     formControlName="fullName"
     />
  </div>
  <div class="form__field">
    <input
       placeholder="Usuário"
       type="text"
       class="form__field-input"
       formControlName="userName"
       />
  </div>
  <div class="form__field">
    <input
      placeholder="Senha"
      type="password"
      class="form__field-input"
      formControlName="password"
      />
  </div>
  <div  class="form__buttonWrapper">
    <button class="form__buttonWrapper-button">
      Criar conta
    </button>
  </div>
</form>
<p>
  Já é um usuário? <a [routerLink]="['/']" class="link">Faça o login</a>
</p>
</section>
