<section class="container">
  <h4 class="title">Registre-se e mostre seu pet ao mundo</h4>
<form class="form" [formGroup]="newUserForm" (submit)="NewAccount()">
  <div class="form__field">
    <input
      placeholder="e-mail"
      type="text"
      class="form__field-input"
      formControlName="email"
      />
      <app-message
      *ngIf="newUserForm.get('email')?.errors?.['required'] &&
      newUserForm.get('email')?.touched"
       message="O E-mail é obrigatório">
      </app-message>
      <app-message
      *ngIf="newUserForm.get('email')?.errors?.['email'] &&
      newUserForm.get('email')?.touched"
      message="E-mail no formato incorreto"
      >
      </app-message>
  </div>
  <div class="form__field">
    <input
     placeholder="Nome Completo"
     type="text"
     class="form__field-input"
     formControlName="fullName"
     />
     <app-message
      *ngIf="newUserForm.get('fullName')?.errors &&
      newUserForm.get('fullName')?.touched"
     message="Verificar Nome digitado"
     >
     </app-message>
  </div>
  <div class="form__field">
    <input
       placeholder="Usuário"
       type="text"
       class="form__field-input"
       formControlName="userName"
       />
      <app-message
      *ngIf="newUserForm.get('userName')?.errors?.['lowercase'] &&
      newUserForm.get('userName')?.touched"
      message="O usuário deve ser com letra minúscula"
       >
      </app-message>
      <app-message
      *ngIf="newUserForm.get('userName')?.errors?.['userExists']"
       message="Usuário já existe"
       >
      </app-message>
  </div>
  <div class="form__field">
    <input
      placeholder="Senha"
      type="password"
      class="form__field-input"
      formControlName="password"
      />
      <app-message
      *ngIf="newUserForm.errors?.['passwordSameUser']"
      message="A senha deve ser diferente do usuário"
      >
      </app-message>
  </div>
  <div  class="form__buttonWrapper">
    <button class="form__buttonWrapper-button">
      Criar conta
    </button>
  </div>
</form>
<p>
  Já é um usuário? <a [routerLink]="['/']" class="link">Faça o login</a>
</p>
</section>
