@import "../../abstract/functions", "../../abstract/variables", "../../abstract/responsive";

.container{
  @include screenSize(100vw,100vh);
  @include displayFlex(center, center, row);
  position: relative;
  //tablet
  @include for-tablet-only{
    @include screenSize(100%,auto);
    padding: 2em 0;
  }
  &__content{
    @include screenSize(100%,auto);
    @include displayFlex(space-evenly, center, row);
    //tablet
    @include for-tablet-only{
      @include displayFlex(center, center, column);
    }
    &-logo{
      @include screenSize(45%,auto);
      @include displayFlex(center, center, column);
      //tablet
      @include for-tablet-only{
        @include screenSize(50%,auto);
      }
      //tablet
      @include for-tablet-only{
        flex-direction: column-reverse;
      }
      .image{
        @include screenSize(100%,auto);
        @include displayFlex(center, flex-end, row);
        transform: translateY(7%);
        &__logo{
          width:80%;
          //tablet
          @include for-tablet-only{
            width:60%;
          }
          //mobile(M)
          @include for-mobile-only{
            width:80%;
          }
        }
      }
      .title{
        padding: 2em 3em;
        background-color: $color1;
        @include cardShadow();
        border: 5px double $color1;
        border-radius: .8em;
        //tablet
        @include for-tablet-only{
          padding: 1em 2em;
        }
        //mobile(XS)
        @include for-mobileXS-only{
          padding: .8em 1.5em;
        }
        h1{
          @include typography(5vw,center,1.4em,900);
          color: $color5;
          //tablet
          @include for-tablet-only{
            font-size: 47px;
          }
          //mobile(XS)
          @include for-mobileXS-only{
            font-size:36px;
          }
          }
      }

    }
    &-login{
      @include screenSize(45%,auto);
      @include displayFlex(center, center, row);
    }
  }
}
