<section class="container">
  <article class="container__content">
    <div class="container__content-logo">
      <div class="image">
        <img src="assets/images/logo.png" alt="gatito logo" class="image__logo" />
      </div>
      <div class="title">
        <h1>Gatitobook</h1>
      </div>
    </div>
    <div class="container__content-login">
      <router-outlet></router-outlet>
    </div>
  </article>
</section>
<footer class="footer">
  <p class="footer__copy">Copyright &copy; 2022 - Desenvolvido por Valber Junior</p>
</footer>
